<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    	<a class="navbar-brand" href="#">Online Courses</a>
    	<ul class="nav navbar-nav">
    		<li>
    			<a href="#">Home</a>
    		</li>
    		<li>
    			<a href="#">Courses</a>
    		</li>
    	</ul>
        <ul class="nav navbar-nav navbar-right">
    		<li>
    			<a data-toggle="modal" href="{% url "register" %}">Sign up</a>
    		</li>
            <li>
    			<a data-toggle="modal" href="{% url "login" %}">Sign in</a>
    		</li>
    	</ul>
    </nav><br><br><br><br><br>
    <div class="container">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <form method="post" >
     {% csrf_token %}
     <table class ="table">
      <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
    </tr>
    <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
    </tr>
   </table>
        <button type="submit" class="btn waves-effect waves blue">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
    </form>
        <br>
        <div class="btn btn-small waves-effect waves blue"><a href="{% url 'register' %}" class="white-text">Sign up</a></div>
    </div>

</body>
</html>